
html {
    height: 100%;
    margin: auto;
    font-family: 'Mulish', sans-serif;
  }

  *html{
    box-sizing: border-box;
  }
  
  body,
  :nth-of-type(.page-container) {
    /* margin-left: 60px;
    margin-right: 60px; */
    min-height: 100vh; /* Use 'vh' (viewport height) for better height adjustment */
    overflow: scroll;
  }
  
  .page-container {
    max-width: 100%;
  }
  
  .main-container {
    position: relative;
    max-width: 40%;
    top: 120px;
    margin-left: 40px;
  }
  
  nav {
    margin-left: 50px;
  }
  
  .text1 {
    font-family: 'Mulish', sans-serif;
    font-weight: lighter;
  }
  
  h1 {
    font-family: 'Mulish', sans-serif;
    font-size: 40px;
  }
  
  .first-btn {
    background-color: red;
    border: none;
    border-radius: 5px;
    padding: 20px 50px;
    color: white;
    font-family: 'Mulish', sans-serif;
  }
  
  .image1 {
    position: relative;
    max-width: 30%;
    height: auto;
    left: 700px;
    bottom: 250px;
  }
  
  .border-text {
    color: white;
    background-color: red;
    position: relative;
    max-width: 100%;
    bottom: 170px;
    padding: 20px;
    justify-content: space-around;
  }
  
 
  
  .text-page2 {
    margin-top: 20px;
    font-size: 40px;
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
    margin-left: 70px;
    margin-right: 70px;
    line-height: 40px;
  }
  
  .second-page {
    font-size: 20px;
    align-items: center;
    margin-left: 90px;
    margin-right: 90px;
    font-weight: 200;
    text-align: center;
    justify-content: center;
    position: relative;
    bottom: 100px;
    line-height: 30px;
  }

  .info-box1{
    margin-right: 20px;
  }

  .info-box3{
    margin-left:20px ;
  }
  
  .info-box1,
  .info-box2,
  .info-box3 {
    background-color: white;
    border-radius: 20px;
    padding: 15px;
    height: 60vh;
    width: 40%;
    box-sizing: border-box;
    box-shadow: 0px 3px 10px 2px rgba(194, 194, 194, 1);
    transition: transform 0.3s, box-shadow 0.3s;
    
  }

  .info-box1:hover, .info-box2:hover, .info-box3:hover {
    transform: scale(1.1); /* Zoom in by 10% */
    box-shadow: 2px 2px 15px rgba(255, 0, 0, 0.6); 
  }

  .page2-container {
    margin-top: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .text1-header,
  .text2-header,
  .text3-header {
    font-family: 'Mulish', sans-serif;
    font-weight: 900;
    color: red;
  }
  
.btn1{
    background-color: rgb(25, 25, 25);
    color: white;
    border: none;
    width: 100%;
    padding: 15px;
}

  .btn2 {
    background-color: rgb(219, 23, 23);
    color: white;
    width: 100%;
    padding: 15px;
    border: none;
  }
  
  .collapse-wrapper {
    display: flex;
    justify-content: space-around;
  }
  
  .collapse-div {
    margin-right: 10px;
    width: 40%;
  }

.page3-div{
    max-width: 100%;
    margin-top: 30px;
    font-size: 20px;
}

.page3-text{
    text-align: center;
    margin: 0 auto;
    font-size: 20px;
    font-family: 'Mulish', sans-serif;
    font-weight: 900;
}

.page3-text3{
    position: relative;
    top: 50px;
    justify-content: center;
    font-size: 20px;
    text-align: center;
    font-family: 'Mulish', sans-serif;
    font-weight: 900;
}

.image2{
    max-width: 80%;
    position: relative;
    height: 80vh;
    left: 130px;
    margin-top: 40px;
   
}

.page4-div{
  /* max-height: max-content; */
  margin-bottom: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}

.page5-text{
  margin-top: 120px;
  font-family: 'Mulish', sans-serif; 
}

#testimonial-wrapper{
  margin: 0 auto;
}


.testimonial-container {
  margin-top: 20px;
  max-width: 100%;
  margin-right: 0;
  height: auto;
  display: flex;
  flex-direction: row; /* Align cards vertically */
  align-items: center;
  justify-content: center;

}

.testimonial-card1,
.testimonial-card2 {
  box-shadow: 0px 0px 7px 3px rgba(255, 121, 121, 1);
  height: 30vh;
  width: 80%;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.testimonial-card2 {
  margin-top: 40px;
}

.author-image {
  border-radius: 50%;
  height: 10vh;
  width: 20%;
}

.card-text{
  font-size: 10px;
  
}

.card-body{
  overflow: hidden;
 
}

.testimonial-text {
  justify-content: center;
  text-align: center;
  line-height: 1;
  margin-left: 30px;
  font-size: 10px;
  width: 60%;
  height: 12vh;
}

.custom-container{
  position: relative;
  bottom: 250px;
  white-space: normal;
}

footer{
    height: 50vh;
    position: relative;
    bottom: 100px;
    margin-bottom: 0 auto;
} 


/* Style for the plus and minus icons */
.collapse-div button::after {
    font-family: 'Font Awesome 5 Free'; /* Ensure you have the Font Awesome library loaded */
    font-weight: 900;
    content: "\f067"; /* Unicode for plus icon */
    margin-left: 5px;
  }
  
  .collapse-div .collapsed button::after {
    content: "\f068"; /* Unicode for minus icon */
  }
  
  /* Style for the collapsed content */
  .collapse {
    display: none;
  }
  
  .collapse.show {
    display: block;
  }
  

iframe{
    align-items: center;
    width: 50%;
    
   margin-left: 50px;
    margin-top: 100px;
}  


/* Media query for smaller screens (320px to 767px) */
@media (min-width: 320px) and (max-width: 767px) {

  /* Centering the main-container */
  .main-container {
    max-width: 80%;
    /* margin: 5 auto; */
    top: 10px;
    position: relative;
    font-size: 16px;
  }

  .image1 {
    margin-top: 300px;
    left:0;
    max-width: 100%;
    height: auto;
    display: block;
    /* margin: 0 auto;  */
  }

.text-page2{
  font-weight: bold;
}

  .h1-text{
    font-size: 20px;
    font-family: 'Mulish', sans-serif;
  }

  .text-section{
    font-size: 16px;
    padding: 10px;
    margin-bottom: 150px;
  }

  .first-btn{
    padding: 10px 20px;
    font-size: 16px;
   
  }

  .page3-text{
    margin-bottom: 40px;
    font-size: 16px;

  }

  .page3-div{
    margin-bottom: 100px;
  }

  .page3-text3{
    font-size: 16px;
  }

  .card-text{
    font-size: 10px;
  }

  .card-body{
    padding: 5px;
  }
  /* Centering the nav */
  nav {
    margin: 2 auto;
    display: flex;
    justify-content: center;
  }

  .border-text {
    bottom: 170px;
    position: relative;
    max-width: 100%;
    padding: 10px;
    margin: 0 auto;
    display: none;
  }

  .collapse-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .collapse-div{
    min-width: 80%;
  }

.testimonial-wrapper{
  margin: 0 auto;
}

  .testimonial-container{
    align-items: center;
    max-height: auto;
    width: 100%;
    margin: 0 auto;
  }
  /* Centering .page2-text */
  .page2-text {
    font-size: 16px;
    font-family: 'Mulish', sans-serif;
    text-align: center;
    line-height: 1.5; /* Adjust the line-height to your preference */
    max-width: 80%;
    margin: 20px auto;
  }
.text-page2{
    font-size: 16px;
    margin:0 auto ;
    line-height: 1;
    font-weight: 800;
    font-family: 'Mulish', sans-serif;
}
  /* Centering .second-page */
  .second-page {
    font-size: 20px;
    font-weight: 200;
    text-align: center;
    justify-content: center;
    position: relative;
    bottom: 100px;
    line-height: 30px;
    margin: 0 auto;
    max-width: 100%;
  }

  /* Centering .info-box1, .info-box2, and .info-box3 */
.info-box2{
  position: relative;
  top: 30px;
}

.info-box3{
  position: relative;
  top: 60px;
}

  .info-box1,
  .info-box2,
  .info-box3 {
    background-color: white;
    border-radius: 15px;
    padding: 15px;
    height: 40vh;
    width: 80%; 
    box-sizing: border-box;
    box-shadow: 0px 3px 10px 2px rgba(194, 194, 194, 1);
    transition: transform 0.3s, box-shadow 0.3s;
    margin: 0 auto;
  }

  .container-text,
  .container2-text, 
  .container3-text{
    font-size: 15px;
    font-family: 'Mulish', sans-serif;
    line-height: 1.5;
    
  }

  .page2-container{
    display: flex;
    flex-direction: column;
    max-height: max-content;
    width: 100%;
  }


iframe{
  margin: 0 auto;
  min-height: 20vh;
  width: 90%;
}

.image2 {
  max-width: 90%;
  margin: 0 auto;
  align-items: center;
  left: 5%;
  right: 5%;
  max-height: 40vh;
}

.testimonial-container{
  text-align: center;
  margin-right: 0;
  display: flex;
  flex-direction: column;
  
}


#testimonial-wrapper{
  margin: 0 auto;
}

.testimonial-card1,
 .testimonial-card2{
  width: 100%;
 
}

  .page4-div{
    display: flex;
    flex-direction: column;
  }

  footer{
    margin: 0 auto;
  }
}


/*media screen for median screen sizes of 991